<div class="col-12 my-3">
  <div class="card bg-white mx-auto shadow-sm br-10 dad-hover" style="height: 14rem;">
    <div class="visible-on-hover">
      <%= link_to booking_path(booking.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you would like to delete this?"}, class: "btn btn-danger text-white" do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="row g-0 h-100">
      <div class="col-4 h-100">
        <% if booking.bike.photos[0] %>
          <%= cl_image_tag booking.bike.photos[0].key, alt: booking.bike.name, class: "img-fill br-l-10" %>
        <% else %>
          <%= image_tag "bike-icon.png", alt: "default bike picture", class: "img-fill br-l-10" %>
        <% end %>
      </div>
      <div class="col-8 h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <%= link_to bike_path(booking.bike), class: "inherit-all" do %>
              <h5 class="card-title text-break"><%= booking.bike.name %></h5>
            <% end %>
            <p class="card-text fw-semibold">€<%= booking.total_price %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-text fs-6">Booking #<%= booking.id %></p>
            <p class="card-text text-break">Owner: <%= booking.bike.user.username %></p>
          </div>
          <p class="card-text text-break fs-6">Pick-Up/Drop-Off: <%= booking.bike.address %></p>
          <p class="card-text"><%= booking.start_time.strftime("From %d/%m/%Y") %></p>
          <p class="card-text"><%= booking.end_time.strftime("To %d/%m/%Y") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
